USE [master]
GO
/****** Object:  Database [TourMate_Billing]    Script Date: 7/5/2025 1:54:07 PM ******/
CREATE DATABASE [TourMate_Billing]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TourMate_Billing', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MINEDUCK\MSSQL\DATA\TourMate_Billing.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TourMate_Billing_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MINEDUCK\MSSQL\DATA\TourMate_Billing_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TourMate_Billing].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TourMate_Billing]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 7/5/2025 1:54:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[paymentId] [int] IDENTITY(1,1) NOT NULL,
	[price] [real] NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[paymentType] [nvarchar](50) NOT NULL,
	[paymentMethod] [varchar](50) NOT NULL,
	[accountId] [int] NOT NULL,
	[membershipPackageId] [int] NULL,
	[invoiceId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Revenue]    Script Date: 7/5/2025 1:54:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Revenue](
	[RevenueId] [int] IDENTITY(1,1) NOT NULL,
	[TourGuideId] [int] NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[ActualReceived] [decimal](18, 2) NOT NULL,
	[PlatformCommission] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[PaymentStatus] [bit] NOT NULL,
	[invoiceId] [int] NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
